# Kconfig file for app configuration

menu "Application configuration"

    config CO2_MONITOR_WIFI_SSID
        string
        prompt "SSID of the AP station to connect to"
        default "Default_SSID_name"

    config CO2_MONITOR_WIFI_PASSWORD
        string
        prompt "Password of the AP station"
        default "password"

    config CO2_MONITOR_DEVICE_URL
        string
        prompt "Enter server's URL"
        default "http://dummy.server:8080"

    config CO2_MONITOR_DEVICE_TOKEN
        string
        prompt "Enter the device's token"
        default my_favorite_token

    config CO2_MONITOR_DISPLAY_BACKLIGHT_TIMEOUT_S
        int
        prompt "Enter the time in seconds for the display's backlight to turn off (0 for no automatic turn off)"
        default 60

endmenu